[submodule "Build-It-Bigger"]
	path = Build-It-Bigger
	url = https://github.com/tripleducke/Build-It-Bigger
[submodule "Capstone-Project"]
	path = Capstone-Project
	url = https://github.com/tripleducke/Capstone-Project
